@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  height: 100vh;
  /*background-image: url("/public/assets/desktop/bg-image-daytime.jpg");
  background-size: cover;
  background-repeat: no-repeat;

 */
  overflow: hidden;
}
/*
section {
}*/
.image {
  position: absolute;
  top: 0;
  z-index: -1;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  width: 100%;
  filter: brightness(0.6);
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
header {
  height: 100%;
}
.wrapper-title {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 36px 165px 96px 165px;
}
.current-description {
  margin-bottom: 0;
}
.description {
  width: 100%;
  display: flex;
  position: relative;
  transform: translateY(-90px);
  transition: all 0.4s ease-in-out;
  background-color: white;
  color: black;
}
.open-description {
  transform: translateY(-80px);
}
.close-description {
  transform: translateY(280px);
}
.description .left-description {
  width: 50%;
  padding: 57px 165px;
}
.description .right-description {
  width: 50%;
  padding: 57px 94px;
}

.right-description h2 {
  font-size: 56px;
  font-weight: 700;
}
.left-description h2 {
  font-size: 56px;
  font-weight: 700;
}
/*.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  height: 100%;
  margin: 2rem 5rem;
}*/
.header-title {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header-quote {
  width: 50%;
  display: flex;

  align-items: flex-start;
}
.quote-wrapper {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.header-title h1 {
  font-size: 200px;
  margin-bottom: 0;
  margin-top: 0;
}
.span-bst {
  font-size: 40px;
  font-weight: 400;
}
.btn-refresh {
  border: none;
  background-color: transparent;
}
.btn-more {
  display: flex;
  align-items: flex-end;
}
