@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;

  /*background-image: url("/public/assets/desktop/bg-image-daytime.jpg");
  background-size: cover;
  background-repeat: no-repeat;

 */
}
/*
section {
}*/
.image-desktop {
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
  width: 100%;
  filter: brightness(0.6);
}
.image-tablet {
  display: none;
}
.image-mobile {
  display: none;
}
main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
}
header {
  height: 100%;
}
.wrapper-title {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 66px 165px;
}

.quote {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.autor {
  font-weight: 700;
  font-size: 18px;
}
.current-description {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.current-timezone {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.description {
  width: 100%;
  display: flex;
  padding: 31px 64px;
  bottom: 0;
  position: absolute;
  transition: all 0.4s ease-in-out;
  background: rgba(255, 255, 255, 0.75);
  color: black;
}

.close-description {
  bottom: -800px;
}
.description .left-description {
  width: 100%;
}
.description .right-description {
  width: 100%;
}

.right-description h2 {
  font-size: 56px;
  font-weight: 700;
}
.left-description h2 {
  font-size: 56px;
  font-weight: 700;
}

.left-description p {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #303030;
  text-transform: uppercase;
}
.right-description p {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #303030;
  text-transform: uppercase;
}

.header-title {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header-quote {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 4rem;
}
.quote-wrapper {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.header-title h1 {
  font-size: 200px;
  margin-bottom: 0;
  margin-top: 0;
}
.span-bst {
  font-size: 40px;
  font-weight: 400;
}
.btn-refresh {
  border: none;
  background-color: transparent;
}
.btn-more {
  display: flex;
  align-items: flex-end;
}
.btn__more {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 28px;
  color: rgb(0, 0, 0, 0.5);
  border-radius: 30px;
}

.arrow {
  padding: 8px;
  transform: rotate(180deg);
  transition: transform, 0.3s ease-in-out;
}
.active {
  padding: 8px;
  transform: rotate(0deg);
}
@media (max-width: 1150px) {
  .header-title {
    row-gap: 3rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-title h1 {
    font-size: 175px;
  }
  .span-bst {
    font-size: 32px;
  }

  .left-description h2 {
    font-size: 40px;
  }
  .right-description h2 {
    font-size: 40px;
  }
  .time-zone {
    max-width: 100%;
  }
  .left-description p {
    font-size: 13px;
  }
  .right-description p {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .image-desktop {
    display: none;
  }
  .image-mobile {
    display: none;
  }
  .image-tablet {
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
    width: 100%;
    filter: brightness(0.6);
  }
  .header-title h1 {
    font-size: 175px;
  }
  .header-quote {
    width: 100%;
  }

  .wrapper-title {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 64px 80px 131px 64px;
  }
}

@media (max-width: 576px) {
  .image-mobile {
    position: absolute;
    display: block;
    top: 0;
    z-index: -1;
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
    width: 100%;
    filter: brightness(0.6);
  }
  .image-tablet {
    display: none;
  }
  .header-title h1 {
    font-size: 100px;
  }
  .span-bst {
    font-size: 15px;
    font-weight: 300;
  }
  .current-timezone {
    font-size: 15px;
  }
  .current-description {
    font-size: 15px;
  }
  .description {
    flex-direction: column;
    padding: 48px 26px;
  }
  .description .left-description {
    width: 100%;
    display: block;
  }
  .time-zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .time-zone h2 {
    font-size: 20px;
  }
  .time-zone p {
    font-size: 10px;
  }
  .day-of-year {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .day-of-year h2 {
    font-size: 20px;
  }
  .day-of-year p {
    font-size: 10px;
  }

  .description .right-description {
    width: 100%;
    display: block;
  }
  .day-of-week {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .day-of-week p {
    font-size: 10px;
  }
  .day-of-week h2 {
    font-size: 20px;
  }
  .day-of-year h2 {
    font-size: 20px;
  }
  .day-of-year p {
    font-size: 10px;
  }
  .week-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .week-number h2 {
    font-size: 20px;
  }
  .week-number p {
    font-size: 10px;
  }
}
